//Microsoft Developer Studio generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON    DISCARDABLE     "myGL.ico"

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\0"
END

3 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_CONSOLEDIALOG DIALOGEX 0, 0, 300, 242
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Console"
FONT 8, "Tahoma", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_CONSOLEEDIT,0,0,299,242,ES_MULTILINE | 
                    ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | 
                    WS_VSCROLL | WS_HSCROLL | NOT WS_TABSTOP,
                    WS_EX_CLIENTEDGE
END

IDD_PERFORMANCE DIALOGEX 0, 0, 247, 146
STYLE DS_SYSMODAL | DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Performance Test"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&Start Test",IDOK,190,125,50,14
    PUSHBUTTON      "Close",IDCANCEL,137,125,50,14
    COMBOBOX        IDC_RESOLUTION,49,80,111,30,CBS_DROPDOWN | WS_TABSTOP
    CONTROL         "Run Fullscreen",IDC_FULLSCREEN,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,14,103,75,10
    COMBOBOX        IDC_BITDEPTH,186,80,54,30,CBS_DROPDOWN | WS_TABSTOP
    LTEXT           "Resolution",IDC_STATIC,9,82,39,8
    EDITTEXT        IDC_EDIT1,7,7,233,62,ES_MULTILINE | ES_AUTOHSCROLL | 
                    ES_READONLY | NOT WS_BORDER,WS_EX_TRANSPARENT
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_CONSOLEDIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 286
        TOPMARGIN, 7
        BOTTOMMARGIN, 216
    END

    IDD_PERFORMANCE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 240
        TOPMARGIN, 7
        BOTTOMMARGIN, 139
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU1 MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New Game",                   ID_FILE_NEWGAME
        MENUITEM "&Test performance",           IDM_TESTSPEED
        MENUITEM SEPARATOR
        MENUITEM "&Quit",                       ID_FILE_QUIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Full Screen",                ID_VIEW_FULLSCREEN
        POPUP "&Resolution"
        BEGIN
            MENUITEM "640 x 480",                   ID_VIEW_RESOLUTION_640X480
            , CHECKED
            MENUITEM "800 x 600",                   ID_VIEW_RESOLUTION_800X600

            MENUITEM "1024 x 768",                  ID_VIEW_RESOLUTION_1024X768

            MENUITEM "1280 x 1024",                 ID_VIEW_RESOLUTION_1280X1024

        END
        MENUITEM "&Fog",                        ID_VIEW_FOG
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                      ID_HELP_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// TEMPLATE1
//

IDR_SPLASHSCREEN        TEMPLATE1 DISCARDABLE   "splashscreen.jpg"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog Info
//

IDD_PERFORMANCE DLGINIT
BEGIN
    IDC_RESOLUTION, 0x403, 10, 0
0x3436, 0x2030, 0x2078, 0x3834, 0x0030, 
    IDC_RESOLUTION, 0x403, 10, 0
0x3038, 0x2030, 0x2078, 0x3036, 0x0030, 
    IDC_RESOLUTION, 0x403, 11, 0
0x3031, 0x3432, 0x7820, 0x3720, 0x3836, "\000" 
    IDC_RESOLUTION, 0x403, 12, 0
0x3231, 0x3038, 0x7820, 0x3120, 0x3230, 0x0034, 
    IDC_BITDEPTH, 0x403, 3, 0
0x3531, "\000" 
    IDC_BITDEPTH, 0x403, 3, 0
0x3631, "\000" 
    IDC_BITDEPTH, 0x403, 3, 0
0x3432, "\000" 
    IDC_BITDEPTH, 0x403, 3, 0
0x3233, "\000" 
    0
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

