//Microsoft Developer Studio generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON    DISCARDABLE     "myGL.ico"

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\0"
END

3 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_CONSOLEDIALOG DIALOGEX 0, 0, 300, 242
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Console"
FONT 8, "Tahoma", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_CONSOLEEDIT,0,0,299,242,ES_MULTILINE | 
                    ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | 
                    WS_VSCROLL | WS_HSCROLL | NOT WS_TABSTOP,
                    WS_EX_CLIENTEDGE
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_CONSOLEDIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 286
        TOPMARGIN, 7
        BOTTOMMARGIN, 216
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU1 MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New Game",                   ID_FILE_NEWGAME
        MENUITEM SEPARATOR
        MENUITEM "&Quit",                       ID_FILE_QUIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Full Screen",                ID_VIEW_FULLSCREEN
        POPUP "&Resolution"
        BEGIN
            MENUITEM "640 x 480",                   ID_VIEW_RESOLUTION_640X480
            , CHECKED
            MENUITEM "800 x 600",                   ID_VIEW_RESOLUTION_800X600

            MENUITEM "1024 x 768",                  ID_VIEW_RESOLUTION_1024X768

            MENUITEM "1280 x 1024",                 ID_VIEW_RESOLUTION_1280X1024

        END
        MENUITEM "&Fog",                        ID_VIEW_FOG
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                      ID_HELP_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// TEMPLATE1
//

IDR_SPLASHSCREEN        TEMPLATE1 DISCARDABLE   "splashscreen.jpg"
IDR_OCES                TEMPLATE1 DISCARDABLE   "oces.jpg"
IDR_CAMERA1             TEMPLATE1 DISCARDABLE   "camera1.jpg"
IDR_CAMERA1DIM          TEMPLATE1 DISCARDABLE   "camera1dim.jpg"
IDR_CAMERA2             TEMPLATE1 DISCARDABLE   "camera2.jpg"
IDR_CAMERA2DIM          TEMPLATE1 DISCARDABLE   "camera2dim.jpg"
IDR_CAMERA3DIM          TEMPLATE1 DISCARDABLE   "camera3dim.jpg"
IDR_CAMERA3             TEMPLATE1 DISCARDABLE   "camera3.jpg"
IDR_CAMERA4DIM          TEMPLATE1 DISCARDABLE   "camera4dim.jpg"
IDR_CAMERA4             TEMPLATE1 DISCARDABLE   "camera4.jpg"
#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

